# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config BOARD_CORNE_CHOC_PRO_LEFT
	bool "Corne Choc Pro Left"
	depends on SOC_NRF52840_QIAA

config BOARD_CORNE_CHOC_PRO_RIGHT
    bool "Corne Choc Pro Right"
    depends on SOC_NRF52840_QIAA
