@namespace html url(http://www.w3.org/1999/xhtml);
@namespace xul url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
/*
    To edit this:

    - Hit Ctrl+Shift+K to open the developer panel.
    - Click the settings wheel
    - Under "Advanced Settings", check:
      - "Enable browser chrome and add-on debugging toolboxes"
      - "Enable remote debugging"
    - Hit Ctrl+Shift+Alt+I to open the browser inspector
    - Use the Inspector (look under the `deck` element) and edit this file in the Style Editor. You can save changes directly there.
*/


:root {
    /* TAB VARIABLES */
    --bg-light: #202020; --bg-dark: #202020;
    --fg-light: #CECFD1; --fg-dark: #AAABAD;
    --tab-fonts: "Inter Light", "Noto Sans", "Helvetica"; --tab-font-size: 10px;
    --tab-min-height: 16px !important;
    --toolbar-bgcolor: #303030 !important;
    --toolbar-color: #AAABAD !important;

    --urlbar-popup-url-color: #5865F4 !important;
}

/* @-moz-document url(chrome://browser/content/browser.xul) { */
    /* URL-BAR */
    #window-controls,
    #back-button, #forward-button, #back-button *, #forward-button *,
    #stop-reload-button,  #pageActionSeparator, #nav-bar-overflow-button, #PanelUI-button,
    #reader-mode-button, #identity-box, #pocket-button-box, #star-button-box,
    #home-button, #search-container, #sidebar-button, #urlbar-search-splitter,
    #customizableui-special-spring2,
    .titlebar-placeholder, .search-one-offs, #new-tab-button,
    .tabs-newtab-button, .tab-close-button, #tabs-newtab-button,
    #alltabs-button, #tracking-protection-icon-container { display: none !important; }

    /* Hide tab bar if only one tab */
    #tabbrowser-tabs, #tabbrowser-tabs > .tabbrowser-arrowscrollbox, #tabbrowser-tabs[positionpinnedtabs] > .tabbrowser-tab[pinned]{ min-height: 0px !important;}
    #tabbrowser-tabs tab[first-visible-tab="true"][last-visible-tab='true'] { display:none !important; }
    tab { min-height: var(--tab-min-height); }

    .tabbrowser-tab:hover:not(:focus) > .tab-stack > .tab-background:not(:-moz-lwtheme),
    .tabbrowser-tab:not(:focus) > .tab-stack > .tab-background:is([selected], [multiselected]):not(:-moz-lwtheme) {
      outline: 0 !important;
    }

    #nav-bar {
        background: var(--bg-dark) !important;
        padding: 0 !important;
        margin: 0 !important;
        border: none !important;
    }
    #urlbar {
        background: var(--bg-dark) !important;
        color: var(--fg-light) !important;
        border: none !important;
        text-align: center;
        border: none !important;
        font-family: var(--tab-fonts) !important;
        font-size: 12px !important;
    }
    #urlbar-input {
      text-align: center;
    }
    #urlbar-input-container {
        background: var(--bg-dark) !important;
    }
    #urlbar-results {
        background: var(--bg-dark) !important;
        color: var(--fg-light) !important;
    }
    #urlbar-background {
        background: var(--bg-dark) !important;
        border: none !important;
    }
    #urlbar-container[breakout] {
      min-height: 16px !important;
    }
    #urlbar[breakout] {
      height: 16px !important;
      top: -2px !important;
    }
    tab {
        font-family: var(--tab-fonts) !important;
        background: var(--bg-dark) !important;
        color: var(--fg-dark) !important;
        font-size: var(--tab-font-size);
        text-shadow: none !important;
    }
    #navigator-toolbox::after {
        display: none !important;
    }
    #tabbrowser-tabs {
        background: var(--bg-dark);
    }
    .tabbrowser-tab * {
        background: none !important;
    }
    .tabbrowser-tab[selected="true"] .tab-stack {
        background: var(--fg-light) !important;
        color: var(--bg-light) !important;
        border-bottom: 1px solid var(--bg-dark);
    }
    .tabbrowser-tab::before, .tabbrowser-tab::after {
        opacity: 0 !important;
    }
    .autocomplete-richlistitem {
        font-size: 12px !important;
        font-family: var(--tab-fonts) !important;
        color: var(--fg-light) !important;
    }
    .autocomplete-richlistitem[selected] {
        background: #3d52ff !important;
    }
    panel, panel[type="autocomplete"], panel[type="autocomplete-richlistbox"], .autocomplete-history-popup {
        background: var(--bg-dark) !important;
        color: var(--fg-light) !important;
    }
    .urlbarView-url {
        padding-left: 6px !important;
        text-align: left !important;
    }
  #TabsToolbar:not([brighttext]) #tabbrowser-tabs:not([noshadowfortests]) .tabbrowser-tab:is([visuallyselected="true"], [multiselected]) > .tab-stack > .tab-background {
    box-shadow: none !important;
  }
/* } */
