/* in about:config, set
 * toolkit.legacyUserProfileCustomizations.stylesheets
 * to true
 */

/* hiding medium.com bloat */
.js-metabarMiddle.metabar-inner {
  display: none !important;
}
.u-fixed.u-bottom0 {
  display: none !important;
}

/* twitter.com */
[aria-label="Who to follow"] {
  display: none !important;
}

@-moz-document domain(youtube.com) {
  #buttons.ytd-masthead,
  ytd-mealbar-promo-renderer {
    display: none !important;
  }
}
