@namespace html url(http://www.w3.org/1999/xhtml);
@namespace xul url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
/*
    To edit this:

    - Hit Ctrl+Shift+K to open the developer panel.
    - Click the settings wheel
    - Under "Advanced Settings", check:
      - "Enable browser chrome and add-on debugging toolboxes"
      - "Enable remote debugging"
    - Hit Ctrl+Shift+Alt+I to open the browser inspector
    - User the Inspector (look under the `deck` element) and edit this file in the Style Editor. You can save changes directly there.
*/


:root {
    /* TAB VARIABLES */
    --bg-light: #303030; --bg-dark: #303030;
    --fg-light: #CECFD1; --fg-dark: #AAABAD;
    --tab-fonts: "Terminus", "Fantasque Sans Mono", monospace; --tab-font-size: 9pt;
    --tab-min-height: 28px !important;
}

@-moz-document url(chrome://browser/content/browser.xul) {
    /* URL-BAR */
    #window-controls,
    #back-button, #forward-button, #back-button *, #forward-button *,
    #stop-reload-button,  #pageActionSeparator, #nav-bar-overflow-button, #PanelUI-button,
    #reader-mode-button, #identity-box, #pocket-button-box, #star-button-box,
    #home-button, #search-container, #sidebar-button, #urlbar-search-splitter,
    #customizableui-special-spring2, toolbarbutton[label="Vimium"],
    .titlebar-placeholder, .search-one-offs,
    .tabs-newtab-button, .tab-close-button,
    #alltabs-button { display: none !important; }

    /* Hide tab bar if only one tab */
    #tabbrowser-tabs, #tabbrowser-tabs > .tabbrowser-arrowscrollbox, #tabbrowser-tabs[positionpinnedtabs] > .tabbrowser-tab[pinned]{ min-height: 0px !important;}
    #tabbrowser-tabs tab[first-visible-tab="true"][last-visible-tab='true'] { display:none !important; }
    tab { min-height: var(--tab-min-height); }

    #nav-bar {
        background: var(--bg-dark) !important;
        padding: 0 !important;
        margin: 0 !important;
        border: none !important;
    }
    #urlbar {
        background: var(--bg-dark) !important;
        color: var(--fg-light) !important;
        border: none !important;
        text-align: center;
        border: none !important;
        font-family: var(--tab-fonts) !important;
        font-size: 12px;
    }
    tab {
        font-family: var(--tab-fonts) !important;
        background: var(--bg-dark) !important;
        color: var(--fg-dark) !important;
        font-size: var(--tab-font-size);
        text-shadow: none !important;
    }
    #navigator-toolbox::after {
        display: none !important;
    }
    #tabbrowser-tabs {
        background: var(--bg-dark);
    }
    .tabbrowser-tab * {
        background: none !important;
    }
    .tabbrowser-tab[selected="true"] .tab-stack {
        background: var(--fg-light) !important;
        color: var(--bg-light) !important;
        border-bottom: 1px solid var(--bg-dark);
    }
    .tabbrowser-tab::before, .tabbrowser-tab::after {
        opacity: 0 !important;
    }
    .autocomplete-richlistitem {
        font-size: 12px !important;
        font-family: var(--tab-fonts) !important;
        color: var(--fg-light) !important;
    }
    .autocomplete-richlistitem[selected] {
        background: #3d52ff !important;
    }
    panel, panel[type="autocomplete"], panel[type="autocomplete-richlistbox"], .autocomplete-history-popup {
        background: var(--bg-dark) !important;
        color: var(--fg-light) !important;
    }
