[Unit]
Description=mbsync service

[Service]
ExecStart=/usr/bin/mbsync -a
ExecStartPost=/usr/local/bin/update_nm
Restart=on-failure
RestartSec=60

[Install]
WantedBy=default.target
