* {
  border-radius: 0px;
  font-family: "Inter Thin";
  font-size: 9pt;
  -gtk-dpi: 196;
  -gtk-icon-size: 12px;
}

tab {
  min-height: 0;
}
button {
  min-height: 0;
}

image {
 -gtk-icon-transform: scale(0.75);
}

headerbar.default-decoration {
    margin-bottom: 50px;
    margin-top: -100px;
}
