# example systemd service for creating an ssh tunnel on boot
# create as /etc/systemd/system/tunnel.service
# to start:
#   sudo systemctl start tunnel.service
#   sudo systemctl status tunnel.service
# to run on boot:
#   sudo systemctl enable tunnel.service

[Unit]
Description=setup ssh tunnel
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=forking
User=ftseng
Restart=always
RestartSec=3
ExecStart=/home/ftseng/.bin/tunnel make ftseng@starbase.in 19922 10022

[Install]
WantedBy=multi-user.target