snippet POST "jQuery AJAX POST"
$.ajax({
	type: 'POST',
	url: '$1',
	data: JSON.stringify($2),
	contentType: 'application/json;charset=UTF-8',
	success: function(data, status, xhr) {
		$3
	},
	error: function(xhr, status, err) {
		$4
	}
});
endsnippet
