[Unit]
Description=start vpn
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=%I
Restart=no
ExecStart=/home/ftseng/.bin/vpn up

[Install]
WantedBy=multi-user.target