[Unit]
Description=start vpn
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=forking
User=%I
Restart=on-failure
RestartSec=3
ExecStart=/home/ftseng/.bin/vpn up

[Install]
WantedBy=multi-user.target